// import 
@import './reset/reset';
@import './variables/variables';

body {
    background: $primary-color;
    color: $text-color;
}

.main {
    width: 80%;
    margin: 0 auto;
    // & equals main, we don't need to use .main_paragraph
    // interpolation
    #{&}__paragraph {
        font-weight: map-get($font-weights, bold);

        &:hover {
            color: pink;
        }
    }
}



