$primary-color: #635e5e;
$accent-color: #ffa500;
$text-color: #e5f1e5;

// maps - like arrays in JS
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

body {
    background: $primary-color;
    color: $text-color;
}

.main {
    width: 80%;
    margin: 0 auto;
    // & equals main, we don't need to use .main_paragraph
    #{&}__paragraph {
        font-weight: map-get($font-weights, bold);
        &:hover {
            color: pink;
        }
    }
}



